<!DOCTYPE html>
<html>
<head>

    <!--meta-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="google" content="notranslate"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="더클래스청담 디렉팅 시스템"/>
    <meta name="Keyword" content="더클래스청담 디렉팅 시스템"/>
    <meta name="robots" content="follow">
    <link rel="canonical" href="http://ec2-3-36-105-137.ap-northeast-2.compute.amazonaws.com/">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="더클래스청담 디렉팅 시스템"/>
    <meta property="og:description" content="더클래스청담 디렉팅 시스템">
    <meta property="og:image" content="http://www.theclasscheongdam.com/include/images/common/logo.png">
    <meta property="og:image:width" content="150" />
    <meta property="og:image:height" content="45" />
    <meta property="og:url" content="http://ec2-3-36-105-137.ap-northeast-2.compute.amazonaws.com/">
    <!-- /meta-->

    <!-- style -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/library/bootstrap/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/canvas/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="/canvas/css/onepage.css" type="text/css"/>
    <link rel="stylesheet" href="/canvas/css/dark.css" type="text/css"/>
    <link rel="stylesheet" href="/canvas/css/font-icons.css" type="text/css"/>
    <link rel="stylesheet" href="/canvas/css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="/canvas/css/magnific-popup.css" type="text/css"/>
    <link rel="stylesheet" href="/library/fullCalendar/fullcalendar.min.css" type="text/css"/>
    <link rel="stylesheet" href="/canvas/css/custom.css" type="text/css"/>
    <link rel="stylesheet" href="/library/monthPicker/jquery-ui.min.css" type="text/css"/>
    <!-- Range Slider CSS -->
    <link rel="stylesheet" href="/canvas/css/components/ion.rangeslider.css" type="text/css" />
    <!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/canvas/css/include/rs-plugin/css/settings.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/canvas/css/include/rs-plugin/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/canvas/css/include/rs-plugin/css/navigation.css">

    <!-- Bootstrap File Upload CSS -->
    <link rel="stylesheet" href="/canvas/css/bs-filestyle.css" type="text/css"/>
    <!-- Bootstrap Switch CSS -->
    <link rel="stylesheet" href="/canvas/css/bs-switches.css" type="text/css"/>
    <!--Time Picker-->

    <!-- Event Table -->
    <link rel="stylesheet" href="/canvas/css/components/pricing-table.css" type="text/css" />
    <!-- bxSlider-->
    <script src="/canvas/js/jquery.js"></script>
    <script src="/library/bootstrap/js/bootstrap.min.js"></script>
    <script src="/library/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/canvas/js/plugins.min.js"></script>
    <!-- /style -->
    <title>더클래스 청담:디렉팅 시스템</title>
    <style>

        .revo-slider-emphasis-text {
            font-size: 58px;
            font-weight: 700;
            letter-spacing: 1px;
            font-family: 'Poppins', sans-serif;
            padding: 15px 20px;
            border-top: 2px solid #FFF;
            border-bottom: 2px solid #FFF;
        }

        .revo-slider-desc-text {
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            width: 650px;
            text-align: center;
            line-height: 1.5;
        }

        .revo-slider-caps-text {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 3px;
            font-family: 'Poppins', sans-serif;
        }

        .tp-video-play-button {
            display: none !important;
        }

        .tp-caption {
            white-space: nowrap;
        }

    </style>
</head>
<header id="header">
    <div id="header-wrap">
        <div class="container">
            <div class="header-row justify-content-end">
                <nav class="primary-menu">
                    <ul class="menu-container">
                        <li id="meet-summary-menu" class="menu-item current">
                            <a class="menu-link fw-bold" href="#">
                                <div>상담 현황표</div>
                            </a>
                        </li>
                        <li id="directing-menu" class="menu-item current">
                            <a class="menu-link fw-bold" href="/directingManger">
                                <div>행사 캘린더</div>
                            </a>
                        </li>
                        <li id="contract-menu" class="menu-item current">
                            <a class="menu-link fw-bold" href="/contractManager">
                                <div>웨딩 계약 관리</div>
                            </a>
                        </li>
                        <li id="w-meet-menu" class="menu-item current">
                            <a class="menu-link fw-bold" href="/directingManger">
                                <div>웨딩상담 관리</div>
                            </a>
                        </li>
                        <li id="contract-corp-menu" class="menu-item current">
                            <a class="menu-link fw-bold" href="/contractCorpManager">
                                <div>기업 계약 관리</div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>