{{>layout/indexHeader}}
<body>
<section id="page-title" class="page-title mb-5">
    <div class="container clearfix">
        <h1>디렉팅 관리</h1>
    </div>
</section>

<section class="container my-5">
    <!--검색 섹션 -->
    <div class="py-2 me-3">
        <form action="#" onsubmit="return false;">
            <div class="row align-items-center justify-content-end">
                <div class="col-12 col-lg-3">
                    <input id="search-hp-input" class="form-control" type="number" placeholder="전화번호 끝 4자리">
                </div>
                <div class="col-12 col-lg-3">
                    <input id="search-name-input" class="form-control " type="text" placeholder="이름 입력">
                </div>
                <div class="col-12 col-lg-3">
                    <input id="search-email-input" class="form-control" type="email" placeholder="이메일 입력">
                </div>
                <div class="col-6 col-lg-2">
                    <button id="search-btn" type="submit" class="btn btn-oding btn-sm text-white w-100"
                            onclick="searchDirecting();">검 색
                    </button>
                </div>

            </div>
        </form>
    </div>
    <!--검색 섹션 END -->
</section>

<!--캘린더 섹션 -->
<section class="px-2">
    <div id="calendar"></div>
</section>
<!--캘린더 섹션 END -->

<!-- 이벤트 정보 섹션 -->
<section class="container my-5">
    <h3 class="py-2">이벤트 정보</h3>

    <div class="">
        <div class="d-flex align-items-center mb-3 py-3">
            <div class="col-5 col-lg-1 text-center">신랑님</div>
            <div class="col-6 col-lg-2">
                <input class="form-control" id="groom" type="text">
            </div>
            <div class="col-5 col-lg-1 ms-2">신랑님 HP</div>
            <div class="col-6 col-lg-2">
                <input class="form-control" id="groom-hp" type="text">
            </div>
            <div class="col-5 col-lg-1 ms-2 text-center">신부님</div>
            <div class="col-6 col-lg-2">
                <input class="form-control" id="bride" type="text">
            </div>
            <div class="col-5 col-lg-1 ms-2">신부님 HP</div>
            <div class="col-6 col-lg-2">
                <input class="form-control" id="bride-hp" type="text">
            </div>
        </div>

        <div class="d-flex align-items-center mb-3">
            <div class="col-5 col-lg-1 me-2 text-center">본식일</div>
            <div class="col-6 col-lg-2">
                <input class="col-6 col-lg-2 form-control" id="event-date" type="date">
            </div>
            <div class="col-5 col-lg-1 ms-2 text-center">본식시간</div>
            <div class="col-6 col-lg-2">
                <input class="col-6 col-lg-2 form-control" id="event-time" type="time">
            </div>
            <div class="col-5 col-lg-1 ms-2 text-center">하객수</div>
            <div class="col-6 col-lg-2">
                <input class="col-6 col-lg-1 form-control" id="person" type="text">
            </div>

            <div class="col-5 col-lg-1 ms-2 text-center">이메일</div>
            <div class="col-6 col-lg-2">
                <input class="col-6 col-lg-3 form-control" id="email" type="email" disabled>
            </div>
        </div>
    </div>
</section>
<!-- 이벤트 정보 섹션 END -->

<!-- 디렉팅 파일 섹션 -->
<section id="directing-section" class="container my-5 d-none">
    <hr>
    <h3 class="py-2 mb-2">디렉팅 현황</h3>
    <p>파일 형식에 따라 다운로드 방법이 다릅니다. '다운로드1' 버튼을 눌러서 반응이 없으면 '다운로드2' 버튼을 누르세요.</p>

    <div class="d-flex ps-5">
        <div class="col-lg-2 py-2 me-5">
            <p class="mb-1 fw-bold text-center">웨딩팀 기획서</p>
            <div class="col">
                <input id="wplan" type="file" class="form-control" data-show-preview="false">
            </div>
            <button id="wplan-down-btn1" class="btn btn-sm mb-1 btn-y-oding w-100" onclick="downloadFile1(this);">
                다운로드1
            </button>
            <button id="wplan-down-btn2" class="btn btn-sm btn-y-oding w-100" onclick="downloadFile2(this);">
                다운로드2
            </button>
            <div class="switch d-flex justify-content-center mt-2">
                <input id="wplan-switch" name="plan-switch" class="switch-toggle switch-toggle-round"
                       type="checkbox" disabled>
                <label for="wplan-switch"></label>
            </div>
            <div class="w-100 text-center">
                <button type="button" class="btn btn-sm btn-oding text-white" onclick="sendWPlanMsg();">고객알림 전송</button>
            </div>
        </div>

        <div class="col-lg-2 py-2 me-5">
            <p class="mb-1 fw-bold text-center">플라워팀 기획서</p>
            <input id="fplan" type="file" class="file" data-show-preview="false">
            <button id="fplan-down-btn1" class="btn btn-sm mb-1 btn-y-oding w-100" onclick="downloadFile1(this);">
                다운로드1
            </button>
            <button id="fplan-down-btn2" class="btn btn-sm btn-y-oding w-100" onclick="downloadFile2(this);">
                다운로드2
            </button>
            <div class="switch d-flex justify-content-center mt-2">
                <input id="fplan-switch" name="siksun-switch" class="switch-toggle switch-toggle-round"
                       type="checkbox" disabled>
                <label for="fplan-switch"></label>
            </div>
            <div class="w-100 text-center">
                <button type="button" class="btn btn-sm btn-oding text-white" onclick="sendFPlanMsg();">고객알림 전송</button>
            </div>
        </div>

        <div class="col-lg-2 py-2 me-5">
            <p class="mb-1 fw-bold text-center">조리팀 기획서</p>
            <input id="cplan" type="file" class="file" data-show-preview="false">
            <button id="cplan-down-btn1" class="btn btn-y-oding w-100" onclick="downloadFile1(this);">다운로드1</button>
            <button id="cplan-down-btn2" class="btn btn-sm btn-y-oding w-100" onclick="downloadFile2(this);">다운로드2
            </button>
            <div class="switch d-flex justify-content-center mt-2">
                <input id="cplan-switch" name="mc-switch" class="switch-toggle switch-toggle-round" type="checkbox"
                       disabled>
                <label for="cplan-switch"></label>
            </div>
            <div class="w-100 text-center">
                <button type="button" class="btn btn-sm btn-oding text-white" onclick="sendCPlanMsg();">고객알림 전송</button>
            </div>
        </div>

        <div class="col-lg-2 py-2 me-5">
            <p class="mb-1 fw-bold text-center">연회팀 기획서</p>
            <input id="dplan" type="file" class="file" data-show-preview="false">
            <button id="dplan-down-btn1" class="btn btn-sm mb-1 btn-y-oding w-100" onclick="downloadFile1(this);">
                다운로드1
            </button>
            <button id="dplan-down-btn2" class="btn btn-sm btn-y-oding w-100" onclick="downloadFile2(this);">다운로드2
            </button>
            <div class="switch d-flex justify-content-center mt-2">
                <input id="dplan-switch" name="honin-switch" class="switch-toggle switch-toggle-round"
                       type="checkbox" disabled>
                <label for="dplan-switch"></label>
            </div>
            <div class="w-100 text-center">
                <button type="button" class="btn btn-sm btn-oding text-white" onclick="sendDPlanMsg();">고객알림 전송</button>
            </div>
        </div>
    </div>

    <div class="d-flex px-5 mt-5" style="background-color: #fff5ef;">
        <div class="col-lg-2 py-2 me-5">
            <p class="mb-1 fw-bold text-center">행사 진행표</p>
            <input id="summary" type="file" class="file" data-show-preview="false">
            <button id="summary-down-btn1" class="btn btn-sm mb-1 btn-y-oding w-100" onclick="downloadFile1(this);">
                다운로드1
            </button>
            <button id="summary-down-btn2" class="btn btn-sm btn-y-oding w-100" onclick="downloadFile2(this);">
                다운로드2
            </button>
            <div class="switch d-flex justify-content-center mt-2">
                <input id="summary-switch" name="sunghon-switch" class="switch-toggle switch-toggle-round"
                       type="checkbox" disabled>
                <label for="summary-switch"></label>
            </div>
        </div>
        <div class="col-lg-2 py-2 me-5">
            <p class="mb-1 fw-bold text-center">정산서</p>
            <input id="bill" type="file" class="file" data-show-preview="false">
            <button id="bill-down-btn1" class="btn btn-sm mb-1 btn-y-oding w-100" onclick="downloadFile1(this);">
                다운로드1
            </button>
            <button id="bill-down-btn2" class="btn btn-sm btn-y-oding w-100" onclick="downloadFile2(this);">다운로드2
            </button>
            <div class="switch d-flex justify-content-center mt-2">
                <input id="bill-switch" name="etc-switch" class="switch-toggle switch-toggle-round" type="checkbox"
                       disabled>
                <label for="bill-switch"></label>
            </div>
        </div>
    </div>
</section>
<!-- 디렉팅 파일 섹션 END -->

<!-- 메모 섹션 -->
<section id="memo-section" class="container my-5 d-none">
    <div id="d-memo-wrap" class="row mb-3">
        <p class="mb-1 fw-bold">상담실 메모</p>
        <textarea id="d-memo-info" class="w-100 form-control" rows="7"></textarea>
    </div>
    <div id="f-memo-wrap" class="row mb-3">
        <p class="mb-1 fw-bold">플라워팀 메모</p>
        <textarea id="f-memo-info" class="w-100 form-control" rows="7"></textarea>
    </div>
    <div id="c-memo-wrap" class="row">
        <p class="mb-1 fw-bold">케이터링 메모</p>
        <textarea id="c-memo-info" class="w-100 form-control" rows="7"></textarea>
    </div>
    <div class="text-end mt-1">
        <input id="sel-event-id" type="hidden">
        <button type="button" class="btn btn-oding col-2 text-white" onclick="saveEvent();">저 장</button>
    </div>
</section>
<!-- 메모 섹션 END -->

<!--계약 정보 섹션 -->
<section class="px-5 my-5">
    <h3 class="mb-1">계약정보</h3>
    <p><span class="text-danger">'붉은색'</span> 항목은 '취소'건입니다.</p>
    <div id="contract-btn-group" class="invisible my-3">
        <button class="btn btn-sm btn-danger" onclick="cancelContList();">선택항목 취소</button>
    </div>

    <div class="overflow-auto">
        <div class="d-flex flex-nowrap text-center">
            <div class="col-4 col-md-4 fw-bold">상품명</div>
            <div class="col-3 fw-bold">단가</div>
            <div class="col-1 fw-bold">수량</div>
            <div class="col-3 fw-bold">총 액</div>
        </div>
        <hr>
        <div id="cont-wrap" class=""></div>
        <div id="total-price-wrap" class=""></div>
    </div>
</section>
<!--계약 정보 섹션 END -->


<!--고객 검색 결과 모달 -->
<div id="search-result-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">검색 결과</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="search-result-wrap"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫 기</button>
            </div>
        </div>
    </div>
</div>
<!--고객 검색 결과 모달 END -->

<!-- 디렉팅 파일 -->
<iframe id="invisible" src="about:blank" style="display:none;"></iframe>

<!-- 기업행사 정보 모달 -->
<div id="corp-info-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">기업행사 정보</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-wrap py-3 align-items-center">
                    <div class="col-5 col-lg-1 text-center my-2">기업명</div>
                    <div class="col-6 col-lg-3 my-2">
                        <input class="form-control" id="corp" type="text">
                    </div>
                    <div class="col-5 col-lg-1 text-center my-2">행사명</div>
                    <div class="col-6 col-lg-3 my-2">
                        <input class="form-control" id="corp-title" type="text">
                    </div>
                    <div class="col-5 col-lg-1 text-center my-2">행사일</div>
                    <div class="col-6 col-lg-3 my-2">
                        <input class="form-control" id="corp-event-date" type="date">
                    </div>
                    <div class="col-5 col-lg-1 text-center my-2">행사시간</div>
                    <div class="col-6 col-lg-3 my-2">
                        <input class="form-control" id="corp-event-time" type="time">
                    </div>
                    <div class="col-5 col-lg-1 text-center my-2">보증인원</div>
                    <div class="col-6 col-lg-3 my-2">
                        <input class="form-control" id="corp-person" type="text">
                    </div>
                    <div class="col-5 col-lg-1 text-center my-2">담당자</div>
                    <div class="col-6 col-lg-3 my-2">
                        <input class="form-control" id="guest" type="text">
                    </div>
                    <div class="col-5 col-lg-1 text-center my-2">연락처</div>
                    <div class="col-6 col-lg-3 my-2">
                        <input class="form-control" id="guest-hp" type="text">
                    </div>
                    <div class="col-5 col-lg-1 text-center my-2">이메일</div>
                    <div class="col-6 col-lg-3 my-2">
                        <input class="form-control" id="corp-email" type="text" readonly>
                    </div>
                    <hr>
                    <div class="w-100 my-5 px-3">
                        <div class="row mb-3">
                            <p class="mb-1 fw-bold">상담실 메모</p>
                            <textarea id="corp-d-memo-info" class="w-100 form-control" rows="7"></textarea>
                        </div>
                        <div class="row mb-3">
                            <p class="mb-1 fw-bold">플라워팀 메모</p>
                            <textarea id="corp-f-memo-info" class="w-100 form-control" rows="7"></textarea>
                        </div>
                        <div class="row">
                            <p class="mb-1 fw-bold">케이터링 메모</p>
                            <textarea id="corp-c-memo-info" class="w-100 form-control" rows="7"></textarea>
                        </div>
                    </div>
                </div>
                <div class="overflow-auto">
                    <div class="d-flex flex-nowrap text-center">
                        <div class="col-4 col-md-4 fw-bold">상품명</div>
                        <div class="col-3 fw-bold">단가</div>
                        <div class="col-1 fw-bold">수량</div>
                        <div class="col-3 fw-bold">총 액</div>
                    </div>
                    <hr>
                    <div id="corp-cont-wrap" class=""></div>
                    <div id="corp-total-price-wrap" class=""></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫 기</button>
                <button type="button" class="btn btn-primary" onclick="saveCorpInfo();">저 장</button>
                <input id="sel-corp-id" type="hidden">
            </div>
        </div>
    </div>
</div>
<!-- 기업행사 정보 모달 END -->

{{>layout/indexFooter}}
<script src="/library/fullCalendar/moment.min.js"></script>
<script src="/library/fullCalendar/fullcalendar.min.js"></script>
<script src="/library/fullCalendar/ko.js"></script>
<script src="/js/directingFile.js"></script>
<script src="/js/directingContList.js"></script>
<script src="/js/searchDirecting.js"></script>
<script src="/js/directingCorpContList.js"></script>
<script src="/js/corpDirecting.js"></script>
<script type="text/javascript">
    const itemMenuListEle = document.getElementsByClassName('menu-item');
    for (const itemMenu of itemMenuListEle) {
        itemMenu.classList.remove('current');
    }

    document.querySelector('#directing-menu').classList.add('current');

    //캘린더 초기화.
    $('#calendar').fullCalendar({
        lang: 'ko',
        firstDay: 1,
        aspectRatio: 2,
        //eventOrder          : 'Array',
        eventOrder: 'title',
        eventBackgroundColor: '#D09187',
        eventBorderColor: '#D09187',
        timeZone: 'local',
        height: 'auto',
        eventClick: function (date, jsEvent, view) {
            console.log(date.color);
            //웨딩 행사인지 기업행사인지 '컬러'로 구분
            if(date.color === '#6f8bf2'){
                //기업행사
                selCorpData(date.id);
            }else{
                //웨딩 행사
                //선택한 이벤트 데이터 가져오기
                initDirectingView();
                selDirectingData(date.id);
            }
        },
        eventRender: function (event, element, monthView) {
            /* if (event.title == 'fullEvent') {

                 var dateString = event.start.format("YYYY-MM-DD");
                 $(monthView.el[0]).find('.fc-day[data-date=' + dateString + ']').css('background-color', 'red');
                 return false;
             }*/
        }
    });

    getCalendarData();
</script>
</body>
</html>