{{>layout/indexHeader}}
<body>
<section id="page-title" class="page-title mb-5">
    <div class="container clearfix">
        <h1>사용자 관리</h1>
    </div>
</section>

<section class="my-5 px-5">
    <h3>멤버 현황</h3>
    <div class="d-flex flex-nowrap overflow-auto text-center">
        <div class="col fw-bold">ID</div>
        <div class="col fw-bold">이름</div>
        <div class="col fw-bold">연락처</div>
        <div class="col fw-bold">수정</div>
    </div>
    <hr>
    {{#userList}}
        <div class="d-flex flex-nowrap overflow-auto text-center">
            <div class="col">{{email}}</div>
            <div class="col">{{name}}</div>
            <div class="col">{{hp}}</div>
            <div class="col"><button class="btn btn-sm btn-success" onclick="editUserModal('{{userId}}');">수정</button></div>
        </div>
    {{/userList}}
</section>


<div id="user-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">사용자 정보</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>현재 선택하신 멤버의 정보 수정 및 삭제를 진행할 수 있습니다.</p>

                <div>
                    <div class="mb-5 d-flex flex-wrap">
                        <div class="col-2">이메일</div>
                        <div class="col"><input id="user-email" type="text"></div>
                    </div>

                    <div class="mb-5 d-flex flex-wrap">
                        <div class="col-2">이 름</div>
                        <div class="col"><input id="user-name" type="text"></div>
                    </div>

                    <div class="mb-5 d-flex flex-wrap">
                        <div class="col-2">연락처</div>
                        <div class="col"><input id="user-hp" type="text"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫 기</button>
                <button type="button" class="btn btn-danger" onclick="delUserModal();">멤버삭제</button>
                <button type="button" class="btn btn-success" onclick="updateUserInfo();">정보수정</button>
                <input id="user-id" type="hidden" >
            </div>
        </div>
    </div>
</div>

<div id="del-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">멤버 삭제</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>선택하신 멤버를 삭제하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취 소</button>
                <button type="button" class="btn btn-danger" onclick="delMember();">삭 제</button>
                <input id="del-id" type="hidden" >
            </div>
        </div>
    </div>
</div>


{{>layout/indexFooter}}
<script src="/js/userManager.js"></script>
<script type="text/javascript">
    const itemMenuListEle = document.getElementsByClassName('menu-item');
    for (const itemMenu of itemMenuListEle) {
        itemMenu.classList.remove('current');
    }

    document.querySelector('#user-menu').classList.add('current');
</script>
</body>
</html>